# Environnements virtuels
venv/
.env/
.venv/
__pycache__/

# Fichiers Python compilés
*.pyc
*.pyo
*.pyd

# Fichiers Jupyter
.ipynb_checkpoints

# Logs et fichiers temporaires
*.log
*.tmp

# Base de données locale
*.db

# Dossiers de cache
.cache/
